@import url('https://fonts.googleapis.com/css?family=Muli:600|Poppins:300,400,700');

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.45;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

p {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Muli', sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}

h5 {
  letter-spacing: 0.6px;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.833em;
}

small,
.font_small {
  font-size: 0.8em;
}
