
/* Icons */

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?al3rqb');
  src: url('/fonts/icomoon.eot?al3rqb#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?al3rqb') format('truetype'), url('/fonts/icomoon.woff?al3rqb') format('woff'),
    url('/fonts/icomoon.svg?al3rqb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-thin-down:before {
  content: "\e901";
}
.icon-paper-plane:before {
  content: "\e900";
}


.icon-google {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('/images/google-logo.png') no-repeat center/100%;
  vertical-align: middle;
  margin-right: 6px;
}

.icon-close {
  font-style: normal;
  font-family: sans-serif;
}
