@mixin breakpoint($point) {
  @if $point == xs {
    @media (max-width: 575px) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $point == lg {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $point == xs-min {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $point == sm-min {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == md-min {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == lg-min {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
