<template>
  <div class="home">
    <h1>Account</h1>
    <div class="card" v-if="isLoggedIn">
      <div class="card__header">
        <h4>Information</h4>
      </div>
      <div class="card__body">
        <div class="card__row">
          <h6>First name:</h6>
          <p>{{ user.firstName }}</p>
        </div>
        <div class="card__row">
          <h6>Last name:</h6>
          <p>{{ user.lastName }}</p>
        </div>
        <div class="card__row">
          <h6>Email:</h6>
          <p>{{ user.email }}</p>
        </div>
      </div>
    </div>
    <button class="btn btn-sm btn-primary btn-edit" type="button" @click="accountModalOpen()">Edit</button>

    <Modal
      :show="isAccountModalVisible"
      @on-modal-close="accountModalClose"
      title="Edit account information"
    >
      <AccountInfoForm :user="user" @on-form-sent="accountModalClose"></AccountInfoForm>
    </Modal>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Modal from "../partials/Modal";
import AccountInfoForm from "../partials/AccountInfoForm";

export default {
  data: _ => ({
    isAccountModalVisible: false
  }),
  computed: {
    ...mapGetters({
      user: "getCurrentUser",
      isLoggedIn: "isUserLoggedIn"
    })
  },

  methods: {
    accountModalOpen() {
      this.isAccountModalVisible = true;
    },
    accountModalClose() {
      this.isAccountModalVisible = false;
    }
  },

  components: {
    Modal,
    AccountInfoForm
  }
};
</script>
