<template>
  <div class="home">
    <h1>Chat</h1>
    <Chat/>
  </div>
</template>

<script>
import Chat from "../partials/Chat";
export default {
  components: {
    Chat
  }
};
</script>