<template>
  <div class="login auth">
    <div class="auth-form">
      <h4 class="text-uppercase text-center">Sign In</h4>

      <form action="#" @submit.prevent="send()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            v-model="email"
            v-validate="'required|email'"
            :class="{'form-control': true, 'is-danger': errors.has('email') }"
          >
          <small v-if="errors.has('email')" class="error-msg">{{ errors.first('email') }}</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            v-model="password"
            v-validate="'required'"
            :class="{'form-control': true, 'is-danger': errors.has('password') }"
          >
          <small v-if="errors.has('password')" class="error-msg">{{ errors.first('password') }}</small>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        </div>
      </form>

      <!-- <div class="auth-social">
        <router-link to="/register" class="btn btn-google btn-block">
          <i class="icon-google"></i> Sign in with Google
        </router-link>
      </div>-->
      <p class="propose-signup text-center">
        Don't have an account?
        <router-link to="/register">Sign Up</router-link>
      </p>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import { bus } from "../../events";

export default {
  data: () => ({
    email: "",
    password: ""
  }),

  computed: {
    ...mapGetters(["getUserToken"]),
    getAuthForm() {
      return {
        email: this.email,
        password: this.password
      };
    }
  },

  methods: {
    ...mapActions(["login", "socketOpen"]),

    async send() {
      try {
        if (await this.$validator.validateAll()) {
          await this.login(this.getAuthForm);
          this.socketOpen(this.getUserToken);
          return;
        }
      } catch (error) {
        bus.$emit("notify", {
          type: "error",
          message: error.message,
          delay: 5000
        });
      }
    }
  }
};
</script>
