
<template>
  <div class="page-logout"></div>
</template>
<script>
import { mapActions } from "vuex";
import { bus } from "../../events";
export default {
  methods: {
    ...mapActions(["logout", "socketClose"])
  },
  created() {
    this.logout().then(() => {
      this.socketClose();

      bus.$emit("notify", {
        message: "You have logout successfully!",
        delay: 5000
      });
      this.$router.push("/login");
    });
  }
};
</script>