<template>
  <div class="home">
    <h1>Products</h1>
    <ProductsList :products="filterProducts" :loading="isProductsLoading" @sortBy="toggleSort"
    :sort="sortBy" :dir="dir" />
    <div class="pagination">
      <ul class="pagination-list">
        <li
          v-for="(page, index) in pagination"
          :key="index"
          :class="[page === '...' ? 'dots' : '', page === current ? 'active' : '']"
        >
          <a href="#" @click.prevent="setPage(page)">{{ page }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import ProductsList from "../partials/ProductsList";
import { mapGetters, mapActions } from "vuex";

export default {
  components: {
    ProductsList
  },

  data: () => ({
    current: 1,
    perPage: 5,
    sortBy: '',
    dir: ''
  }),

  methods: {
    ...mapActions(["fetchProducts"]),

    setPage(page) {
      this.current = page;
    },

    toggleDirection(key) {
      const directions = ['', 'asc', 'desc']
      const currentDirIndex = directions.indexOf(this.dir)

      if (this.sortBy !== key) return this.dir = directions[1];
      if (currentDirIndex === directions.length - 1) return this.dir = directions[0];


      return this.dir = directions[currentDirIndex + 1]
    },

    toggleSort(key) {
      this.toggleDirection(key);
      this.sortBy = key;
    }
  },

  computed: {
    ...mapGetters({
      products: "getProducts",
      isProductsLoading: "isProductsLoading"
    }),

    filterProducts() {
      const from = this.current * this.perPage - this.perPage;
      const to = this.current * this.perPage;
      let products = [...this.products];

      if (this.dir === '') return products.slice(from, to);

      if (this.sortBy === 'id' || this.sortBy === 'price') {
        return products.sort((a, b) => {
          return this.dir === 'asc'
            ? Number(a[this.sortBy]) - Number(b[this.sortBy])
            : Number(b[this.sortBy]) - Number(a[this.sortBy]);
        }).slice(from, to);
      }

      return products.sort((a, b) => {

        const nA = a[this.sortBy].toLowerCase()
        const nB = b[this.sortBy].toLowerCase()

        if (this.dir === 'asc') {
          if (nA < nB) return -1;
          else if (nA > nB) return 1;
          return 0;
        }

        if (nA < nB) return 1;
        else if (nA > nB) return -1;
        return 0;
      }).slice(from, to);
    },

    pagination() {
      var current = this.current,
        last = Math.ceil(this.products.length / this.perPage),
        delta = 1,
        left = current - delta,
        right = current + delta + 1,
        range = [],
        rangeWithDots = [],
        l;

      for (let i = 1; i <= last; i++) {
        if (i == 1 || i == last || (i >= left && i < right)) {
          range.push(i);
        }
      }

      for (let i of range) {
        if (l) {
          if (i - l === 2) {
            rangeWithDots.push(l + 1);
          } else if (i - l !== 1) {
            rangeWithDots.push("...");
          }
        }
        rangeWithDots.push(i);
        l = i;
      }

      return rangeWithDots;
    }
  },

  mounted() {
    // if (!this.isProductsLoading) {
    //   console.log("log");
    this.fetchProducts();
    // }
  }
};
</script>