<template>
  <div class="register auth">
    <div class="auth-form">
      <h4 class="text-uppercase text-center">Sign Up</h4>

      <form @submit.prevent="send()">
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input
            type="text"
            id="first_name"
            name="firstName"
            class="form-control"
            v-model="firstName"
            v-validate="'required'"
            :class="{'form-control': true, 'is-danger': errors.has('firstName') }"
          >
          <small v-show="errors.has('firstName')" class="error-msg">{{ errors.first('firstName') }}</small>
        </div>

        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input
            type="text"
            id="last_name"
            name="lastName"
            class="form-control"
            v-model="lastName"
            v-validate="'required'"
            :class="{'form-control': true, 'is-danger': errors.has('lastName') }"
          >
          <small v-show="errors.has('lastName')" class="error-msg">{{ errors.first('lastName') }}</small>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            v-model="email"
            v-validate="'required|email'"
            :class="{'form-control': true, 'is-danger': errors.has('email') }"
          >
          <small v-if="errors.has('email')" class="error-msg">{{ errors.first('email') }}</small>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            ref="password"
            name="password"
            id="password"
            v-model="password"
            v-validate="'required'"
            :class="{'form-control': true, 'is-danger': errors.has('password') }"
          >
          <small v-if="errors.has('password')" class="error-msg">{{ errors.first('password') }}</small>
        </div>

        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            name="confirmPassword"
            id="confirm-password"
            v-model="confirmPassword"
            v-validate="'required|confirmed:password'"
            :class="{'form-control': true, 'is-danger': errors.has('confirmPassword') }"
            data-vv-as="password"
          >

          <small
            v-if="errors.has('confirmPassword')"
            class="error-msg"
          >{{ errors.first('confirmPassword') }}</small>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
        </div>
      </form>

      <!-- <div class="auth-social">
        <router-link to="/register" class="btn btn-google btn-block">
          <i class="icon-google"></i> Sign in with Google
        </router-link>
      </div>-->
      <p class="propose-signup text-center">
        Already have an account?
        <router-link to="/login">Sign In</router-link>
      </p>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";
import { bus } from "../../events";

export default {
  data: () => ({
    firstName: "",
    lastName: "",
    email: "",
    password: "",
    confirmPassword: "",

    validationMessages: {
      custom: {
        confirmPassword: {
          required: "The confirm password field is required"
        },
        firstName: {
          required: "The first name field is required"
        },
        lastName: {
          required: "The last name field is required"
        }
      }
    }
  }),

  computed: {
    getAuthForm() {
      return {
        firstName: this.firstName,
        lastName: this.lastName,
        email: this.email,
        password: this.password
      };
    }
  },

  methods: {
    ...mapActions(["register"]),

    async send() {
      try {
        if (await this.$validator.validateAll()) {
          const user = await this.register(this.getAuthForm);
          bus.$emit("notify", {
            message: "You have registered successfully!",
            delay: 5000
          });

          this.$router.push({ path: "/login" });
          return;
        }
      } catch (error) {
        bus.$emit("notify", {
          type: "error",
          message: error.message,
          delay: 5000
        });
      }
    }
  },

  created() {
    this.$validator.localize("en", this.validationMessages);
  }
};
</script>
