<template>
  <form>
    <div class="form-group">
      <label for>First name</label>
      <input type="text" class="form-control" v-model="firstName">
    </div>
    <div class="form-group">
      <label for>Last name</label>
      <input type="text" class="form-control" v-model="lastName">
    </div>

    <div class="form-group">
      <button class="btn btn-sm btn-primary" type="button" @click.prevent="save()">Save</button>
    </div>
  </form>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  props: {
    user: {
      type: Object,
      required: true,
      default: () => {}
    }
  },

  data: _ => ({
    firstName: "",
    lastName: ""
  }),

  methods: {
    ...mapActions(["updateUser"]),

    async save() {
      let payload = {
        firstName: this.firstName,
        lastName: this.lastName
      };

      let userId = this.getCurrentUser.id;

      try {
        await this.updateUser({ payload, userId });
        this.$emit("on-form-sent");

        this.$eventBus.$emit("notify", {
          type: "success",
          message: "Information has changed successfully",
          delay: 3000
        });
      } catch (error) {
        this.$eventBus.$emit("notify", {
          type: "error",
          message: error.message,
          delay: 3000
        });
      }
    },

    applyUserInfo() {
      this.firstName = this.user.firstName;
      this.lastName = this.user.lastName;
    }
  },

  computed: {
    ...mapGetters(["getCurrentUser"])
  },

  mounted() {
    this.applyUserInfo();
  },

  watch: {
    user() {
      this.applyUserInfo();
    }
  }
};
</script>
