<template>
  <form @submit.prevent="submit" class="chat-message-form flex-form">
    <div class="form-group">
      <label for>
        <div
          contenteditable="true"
          ref="editable"
          class="textarea form-control"
          @keyup.ctrl.enter="submit"
        ></div>
      </label>
    </div>
    <button class="btn btn-primary btn-sm pull-right" type="submit">
      <i class="icon-paper-plane"></i>
    </button>
  </form>
</template>

<script>
export default {
  props: {
    initValue: {
      type: String,
      default: ""
    }
  },

  methods: {
    submit() {
      const message = this.getMessageContent();

      if (!message.trim()) return;

      var payload = this.messageContentFilter(message);

      this.$emit("onSubmit", payload);
      this.resetEditable();
    },

    getMessageContent() {
      return this.$refs.editable.innerText;
    },

    resetEditable() {
      this.$refs.editable.innerText = "";
    },

    messageContentFilter(message) {
      if (!message) return;

      const nbspsRe = new RegExp(String.fromCharCode(160), "g");
      const breakLineRe = /\n+/g;
      const breakLineEndRe = /\n+$/g;

      let content = message
        .trim() // Remove whitespaces from both sides of a string
        .replace(nbspsRe, " ") // Replace non-breaking space
        .replace(breakLineEndRe, "") // Replace break-lines in the end of the string
        .replace(breakLineRe, "<br>"); // Replace break-lines inside the string
      // TODO: Another replaces

      return content;
    }
  },
  mounted() {
    this.$refs.editable.innerText = this.initValue;
  }
};
</script>