<template>
  <header class="header">
    <div class="header__logo">
      <router-link :to="{ path: '/' }" exact>
        <div class="text-logo">DEMO</div>
      </router-link>
    </div>
    <nav class="header__nav">
      <ul class="header__main-menu">
        <li>
          <router-link :to="{ path: '/' }" exact>Home</router-link>
        </li>
        <li>
          <router-link :to="{ path: '/products' }">Products</router-link>
        </li>
      </ul>
      <div class="header__account-menu">
        <div class="current-user" v-if="user">
          <div class="current-user__meta">
            <span class="current-user__name">{{ fullName }}</span>
            <span class="current-user__email">{{ user.email }}</span>
          </div>

          <user-avatar :user="user"></user-avatar>
        </div>
        <ul class="header__account-submenu">
          <li>
            <router-link :to="{ path: '/account' }" exact>Account</router-link>
          </li>
          <li>
            <router-link :to="{ path: '/logout' }">Logout</router-link>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>
<script>
import { mapGetters } from "vuex";
import UserAvatar from "./UserAvatar";

export default {
  components: {
    UserAvatar
  },
  computed: {
    ...mapGetters({
      user: "getCurrentUser"
    }),

    fullName() {
      return `${this.user.firstName} ${this.user.lastName}`;
    }
  }
};
</script>