<template>
  <i :class="{ 'loading': true, 'loading-visible': show }">
    <span class="loading__qube-1"></span>
    <span class="loading__qube-2"></span>
    <span class="loading__qube-3"></span>
    <span class="loading__qube-4"></span>
  </i>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      required: true,
      default: false
    }
  }
};
</script>