<template>
  <div :class="['modal', show ? 'modal-open' : '']">
    <div class="modal__overlay" @click="close()"></div>
    <div class="modal__content">
      <div class="modal__header">
        <h4>{{ title }}</h4>
        <button class="modal__close" type="button" @click="close()">&times;</button>
      </div>
      <div class="modal__body">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false,
      required: true
    },
    title: {
      type: String,
      default: "",
      required: true
    }
  },

  data: _ => ({}),

  methods: {
    close() {
      this.$emit("on-modal-close", true);
    },

    onEsc(e) {
      return e.keyCode === 27 && this.close();
    }
  },

  mounted() {
    document.body.addEventListener("keyup", this.onEsc);
  },
  beforeDestroy() {
    document.body.removeEventListener("keyup", this.onEsc);
  },

  watch: {
    show(isShow) {
      if (isShow) {
        return document.body.classList.add("modal-visible");
      }

      return document.body.classList.remove("modal-visible");
    }
  }
};
</script>