<template>
  <div class="projects-list">
    <div class="table table-projects" v-if="!loading && products.length">
      <div class="table__row table__row-head">
        <div class="table__column table__column-id" :class="getClassName('id')">
          <a href="#" @click.prevent="sortBy('id')">id</a></div>
        <div class="table__column" :class="getClassName('title')">
          <a href="#" @click.prevent="sortBy('title')">project name</a>
        </div>
        <div class="table__column" :class="getClassName('price')">
          <a href="#" @click.prevent="sortBy('price')">price</a>
        </div>
        <div class="table__column" :class="getClassName('color')">
          <a href="#" @click.prevent="sortBy('color')">color</a>
        </div>
        <div class="table__column" :class="getClassName('department')">
          <a href="#" @click.prevent="sortBy('department')">department</a>
        </div>
      </div>
      <div class="table__row" v-for="product in products" :key="product.id">
        <div class="table__column table__column-id">#{{ product.id }}</div>
        <div class="table__column">{{ product.title }}</div>
        <div class="table__column">{{ product.price }}</div>
        <div class="table__column">{{ product.color }}</div>
        <div class="table__column">{{ product.department }}</div>
      </div>
    </div>
    <div class="table__no-results" v-if="!loading && !products.length">Nothing found yet :c</div>

    <div class="table__loading" v-if="loading">
      <loader :show="loading"></loader>
    </div>
  </div>
</template>

<script>
import Loader from "../partials/Loader";
export default {
  props: {
    products: {
      type: Array,
      default: () => [],
      required: true
    },
    loading: {
      type: Boolean
    },
    sort: {
      type: String
    },
    dir: {
      type: String
    }
  },
  components: {
    Loader
  },

  methods: {
    sortBy(key) {
      this.$emit('sortBy', key)
    },

    getClassName(key) {
      const dir = this.dir;

      if (dir === '') return '';

      if (this.sort === key) {
        return `sort-${dir}`
      }
    }
  }
};
</script>