<template>
  <div class="user" v-if="user">
    <div class="user__avatar">
      <div class="user__icon" :class="getSize">
        <img v-if="user.avatar !== ''" :src="user.avatar" alt :title="getTitle">
        <span v-else :title="getTitle">{{ getAvatarStr }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "user-avatar",
  props: {
    user: {
      type: Object,
      default: () => {}
    },
    size: {
      type: String,
      default: ""
    }
  },

  computed: {
    getAvatarStr() {
      if (this.user.avatar) return "";
      const firstChar = this.user.firstName.charAt(0);
      const secondChar = this.user.lastName.charAt(0);

      return `${firstChar}${secondChar}`.toUpperCase();
    },

    getSize() {
      return `user__icon-size-${this.size}`;
    },

    getTitle() {
      return `${this.user.firstName} ${this.user.lastName}`;
    }
  },

  methods: {}
};
</script>