body.modal-visible {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  padding: 100px 0 100px;
  overflow: auto;

  &-open {
    visibility: visible;
    opacity: 1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__content {
    position: relative;
    max-width: 960px;
    width: 100%;
    background-color: $body-bg1;
    z-index: 1;
    transform: translateY(-200px);
    transition: all 0.3s ease;
    border-radius: 4px;
  }

  &-open {
    .modal__content {
      transform: translateY(0);
    }
  }

  &__header {
    padding: 20px;
    border-bottom: 1px solid $body-bg2;
    position: relative;

    h4 {
      margin: 0px;
    }
    .modal__close {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #ffffff;
      background: none;
      width: 30px;
      height: 30px;
      line-height: 28px;
      border: none;
      font-size: 28px;

      &:hover {
        color: $secondary;
      }
    }
  }

  &__body {
    padding: 20px;
  }
}
