.notifications-list {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  padding: 10px;
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include breakpoint(sm) {
    max-width: 100%;
    bottom: 0px;
    right: 0px;
  }

  &:empty {
    visibility: hidden;
  }

  .notification {
    position: relative;
    background-color: #ffffff;
    padding: 8px 12px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    border-left: 6px solid transparent;
    margin-top: 6px;
    border-radius: 0px;
    min-height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
    transition: all 0.2s ease;

    &:hover {
      transform: translateX(-4px);
    }

    @include breakpoint(sm) {
      &:hover {
        transform: translateX(0px);
      }
    }

    &:first-child {
      margin-top: 0px;
    }

    &-success {
      border-left-color: $success-color;
    }

    &-error {
      border-left-color: $error-color;
    }

    .button-close {
      position: absolute;
      padding: 5px;
      border: 0px;
      background-color: transparent;
      box-shadow: none;
      top: 0;
      right: 0;
      line-height: 1em;
      opacity: 0.5;
      outline: none;
    }

    &:hover {
      .button-close {
        opacity: 1;
      }
    }

    p {
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 6px;
      letter-spacing: 0.5px;
      max-width: calc(100% - 20px);
      color: #333333;
      &:last-of-type {
        margin-bottom: 0px;
      }

      @include breakpoint(sm) {
        font-size: 12px;
      }
    }
  }
}
