.pagination {
  display: flex;
  .pagination-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: auto;

    li {
      margin-left: 2px;
      a {
        padding: 8px 16px;
        background-color: #303337;
        line-height: 1;
        border-radius: 4px;
        border: 1px solid #303337;

        &:hover {
          color: #ffffff;
          background-color: $btnbg2;
          border: 1px solid $btnbg2;
        }
      }

      &.active {
        a {
          border: 1px solid $btnbg2;
        }
      }

      &.dots {
        a {
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }
}
